{%extends 'base.html'%}
{%block content%}


        {%load static%}
        <link rel="stylesheet" href="{%static 'css/register.css' %}" >

 

    <form action="" id="login" method="post">
        {% csrf_token %}
        <h1>Login</h1>
       {% if messages %}
    {% for message in messages %}

        <div class="message {{ message.tags }}">
  {{ message }}
</div>
    {% endfor %}
{% endif %}
        <div>
            <input type="email" name="email" placeholder="email" class="email" id="email" required>
        </div>
        <div>
            <input type="password" name="password" placeholder="password" class="password" id="password" required>
        </div>      
        <input type="submit" class="submit">
      <div class="signup"><span>Don't have an account?</span>  <a href="{%url 'signup'%}">sign up</a></div>


    </form>


{%endblock content%}