body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #1e293b;
    padding: 1rem 2rem;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none; 
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none; 
    font-weight: bold;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #fe6d73; 
}
.logo{
    font-size: 40px;
}