{%extends 'base.html'%}
{%block content%}
{%load static%}
<link rel="stylesheet" href="{%static 'css/style.css'%}">
<section class="about-container">
    <div class="about-card">
        <h1>About Our Project</h1>
        
        <p class="project-desc">
            We are students at the <strong>Faculty of Computers and Artificial Intelligence, Cairo University (FCAI-CU)</strong>. 
            This project was developed for the <strong>Software Engineering</strong> course under the supervision of </p>
         <p>  <i><strong>Dr. Mohamed El-Ramly</strong></i></p>
       
        <div class="repo-section">
            <a href="https://github.com/Mariam-Samy12/BudgetManagement_powerpuff" target="_blank" class="github-link">
                View Project Repository
            </a>
        </div>

        <div class="team-section">
            <label>Our Team</label>
            <div class="team-list">
                <!-- Member 1 -->
                <div class="member">
                    <span>Alaa Mamdouh</span>
                    <a href="https://www.linkedin.com/in/%D8%A2%D9%84%D8%A7%D8%A1-%D9%85%D9%85%D8%AF%D9%88%D8%AD-8925a433b/?trk=opento_sprofile_details">LinkedIn</a>
                </div>
                <!-- Member 2 -->
                <div class="member">
                    <span>Alaa Ahmed</span>
                    <a href="https://www.linkedin.com/in/alaaazima?utm_source=share_via&utm_content=profile&utm_medium=member_android">LinkedIn</a>
                </div>
                <!-- Member 3 -->
                <div class="member">
                    <span>Mariam Samy</span>
                    <a href="https://www.linkedin.com/in/mariam-samy-ba3342356?utm_source=share_via&utm_content=profile&utm_medium=member_android">LinkedIn</a>
                </div>
                <!-- Member 4 -->
                <div class="member">
                    <span>Yara Ayman</span>
                    <a href="https://www.linkedin.com/in/yara-ayman-530157283?utm_source=share_via&utm_content=profile&utm_medium=member_android">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock content%}