{%load static%}
<link rel="stylesheet" href="{%static 'css/navbar.css'%}">
<nav class="navbar">
    <div class="logo"><a href="">📈</a></div>
    
    <ul class="nav-links">
        <li><a href="{%url 'Home'%}">Home</a></li>
        <li><a href="{%url 'about'%}">About us</a></li>
        <li><a href="{%url 'login'%}">Log in </a></li>
        <li><a href="{%url 'signup'%}">Sign Up</a></li>
        <li><a href="{%url 'add_transaction'%}">Add Transaction</a></li>
        <li><a href="{%url 'budget_home'%}">My Budgets</a></li>
        <li><a href="{% url 'goals_list' %}">Financial Goals</a></li>
        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
    </ul>
</nav>